*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #235083;
}
.container{
    position: relative;
    width: 500px;
    height: 115px;
    background-color: white;
    padding: 28px;
    overflow: hidden;
    border-radius: 10px;
    font-family: sans-serif;
    transition: 0.6s ease-out;
}
.searchbox{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchbox input{
    color: #235083;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
}
.searchbox input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.searchbox button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #235083;
    background: rgb(194, 222, 235);
    border-radius: 50%;
    font-size: 22px;
    transition: .4s ease;
}
.searchbox button:hover{
    color: white;
    background: #235083;
}
.searchbox i{
    position: absolute;
    color: #235083;
    font-size: 28px;
}
.weather-box{
    text-align: center;
}
.weather-box img{
    width: 45%;
}
.weather-box .temprature{
   position: relative;
   color: #235083;
   font-size: 4rem;
   font-weight: 800;
   margin-top: 30px;
   margin-left: -10px;
}
.temprature span{
    position: relative;
    margin-left: 4px;
    font-size: 1.5rem;
}
.weather-box .description{
    color: #235083;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.weather .humidity-details,.weather .wind-details,.weather .pressure-details,.weather .visibility-details{
    display: flex;
    align-items: center;
    width: 50%;
    height: 70px;
}
.weather .humidity-details,.weather .pressure-details{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather .wind-details,.weather .visibility-details{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather i{
    font-size: 26px;
    color: #235083;
    margin-right: 10px;
    margin-top: 6px;
}
.weather span{
    color: black;
    font-size: 27px;
    font-weight: 500;
}
.weather p{
    color: #235083;
    font-size: 14px;
    font-weight: 500;
}
.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}
.not-found img{
    width: 70%;
}
.not-found p{
    color: #235083;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.weather-box,
.weather,
.not-found{
    display: none;
}

.fadIn{
    animation: .5s fadIn forwards;
}
@keyframes fadIn{
    to{
        scale: 1;
        opacity: 1;
    }
}